.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.App {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
}

p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(247, 240, 250, 0.4);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Chakra Petch', sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;

}

img {
  border-radius: 15px;
}

@media all and (max-width: 2400px) {
  
  p {
    margin-top: 300px;
    font-size: 50px;
}
}

@media all and (max-width: 1500px) {
  
  p {
    margin-top: 150px;
    font-size: 40px;
}
}

@media all and (max-width: 800px) {
  
  p {
    margin-top: 0px;
    font-size: 25px;
}
}

@media all and (max-width: 500px) {
  
  p {
    margin-top: 0px;
    font-size: 20px;
}
}
